<footer class="site-footer">
	<div class="footer-content">
		<div class="footer-social">

			<a href="https://www.instagram.com/visualjourneys/" target="_blank" rel="noopener">
				<img data-footer-src="assets/images/instagram.svg" alt="Instagram">
			</a>

			<a href="https://www.behance.net/visualjourneys" target="_blank" rel="noopener">
				<img data-footer-src="assets/images/behance.svg" alt="Behance">
			</a>

			<a href="https://www.linkedin.com/in/lauramoyaaraujo/?locale=en_US" target="_blank" rel="noopener">
				<img data-footer-src="assets/images/linkedin.svg" alt="LinkedIn">
			</a>

			<a data-footer-contact href="#contact">
				<img data-footer-src="assets/images/mail.svg" alt="Contact">
			</a>

		</div>

		<p class="footer-copy">
			© 2026 Laura Moya. All rights reserved.
		</p>

	</div>

</footer>
